/*

green: #A6CE39;
blue: #338caf;
grey: #939598;

*/


body{
    font-family: Roboto;
    font-size: 20px;
}

table{
    color: #939598;
}

a{
    color: #338caf;
}

a:hover{
    color: #A6CE39;
    text-decoration: none;
}

h2{
    font-size: 40px;
    color: #A6CE39;
}

th{
    color: #338caf;
}

strong{
    color: #939598;
}

/* Main menu */

#main-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 100;
}

#main-menu ul{
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 10px;
}

#main-menu ul li{
    display: inline-block;
    margin-right: 15px;
}

#main-menu ul li.register-button{
    background: #e47d00;
}

#main-menu ul li.register-button a{    
    color: #FFF;
    border: 1px solid #e47d00;
    padding: 5px 15px;
    display: block;
}

#main-menu ul li.register-button:hover{
    background: #FFF;
}

#main-menu ul li.register-button a:hover{
    color: #e47d00;
}

#main-menu ul li a{
    color: #338caf;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

#main-menu ul li a:hover{
    color: #A6CE39;    
}




/* Main Layout*/

.overlay{
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.container{
    width: 960px;
    height: auto;
    margin: 0 auto;
    color: #939598;
}

.active-menu{
    color: #A6CE39 !important;
    font-weight: bold;
    border-bottom: 1px dotted #A6CE39;
    padding-bottom: 3px; 
}


/* What */

.what{
    background: url('../img/san-francisco-bridge.jpg') center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    text-align: center;
}

.what h1{
    color: #A6CE39;
    font-size: 160px;
    z-index: 1;
    line-height: 100px;
    font-weight: 700;
    margin: 0 auto;
    background: url('../img/orcid-logo.png');
    height: 138px;
    width: 460px;
    background-repeat: no-repeat;
    text-indent: -99999;


}

.what h2{
    padding: 0;
    margin: 0;
    font-size: 59px;
    text-transform: uppercase;
    line-height: 53px;
    margin-top: 15px;
}

.what h2.event{
    color: #A6CE39;
    font-weight: 300;    
}

.what h2.place{    
    color: #338CAF;    
    font-weight: 400;
    line-height: 53px;
    vertical-align: top;
}

.what .conference{
    display: block;
    margin-top: 30px;
}

.what .conference a{
    color: #FFF;
    text-decoration: none;
}

.what .conference a:hover{
    color: #A6CE39;
}


.when .dates{
    width: 380px;
    height: 150px;
    margin: 0 auto;
}

.when .dates .date{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px 5px #888;
    margin: 0 15px;
    float: left;
    padding: 5px;
    background: #FFF;
}

.when .dates .date .month{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #A6CE39;
}

.when .dates .date .day{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 110px;
    color: #338caf;
    line-height: 110px;
}

.when .schedule{
    margin-top: 30px;
}

.why{
    background: url('../img/san-francisco-beach.jpg') center center no-repeat;
    background-size: cover;    
}

.why p,
.why li{
    color: #FFF;
}

.why strong{
    color: #338caf;
}

.resources{
    background: url('../img/san-francisco-bridge-2.jpg') center center no-repeat;
    background-size: cover;
}

.resources p,
.resources li{
    color: #FFF;
}

